:root {
    /* Palette */
    --sky-blue: #8ba9c9;
    --sky-purple: #ab9fc6;
    --sun: #fffddb;
    --hill-green1: #6fa222;
    --hill-green2: #126d14;
    --hill-green3: #286125;
    --cloud-upper: #ccedff;
    --cloud-lower: #8cc9ff;
    --farm-house-wall: #9a4c4c;
    --farm-house-stripe: #7d464b;
    --farm-house-door-frame: #b483ae;
    --farm-house-door: #6b5e3f;
    --farm-house-door-handle: #ffbd7b;
    --farm-house-roof-hole: #282c34;
    --farm-house-window: #b7ffff;
    --smoke: #2c2c2c;
    --mill-log: #742b1b;
    --mill-fan: #cbd3d3;
    --mill-center: #354051;
    --cow-white: #c7ccda;
    --cow-head: #d1d2d4;
    --cow-gray: #6c6c74;
    --cow-nose: #949497;
    --cow-horn: #f2dbae;
    --cow-tits: #f1afcd;
    --pine-bright: #008a00;
    --pine-dark: #004d00;
    --pine-trunk: #483c24;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

#box {
    background: var(--sky-blue);
    background: -moz-linear-gradient(-45deg, var(--sky-blue) 0%,var(--sky-purple) 84%,var(--sky-purple) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--sky-blue)), color-stop(84%,var(--sky-purple)), color-stop(100%,var(--sky-purple)));
    background: -webkit-linear-gradient(-45deg, var(--sky-blue) 0%,var(--sky-purple) 84%,var(--sky-purple) 100%);
    background: -o-linear-gradient(-45deg, var(--sky-blue) 0%,var(--sky-purple) 84%,var(--sky-purple) 100%);
    background: -ms-linear-gradient(-45deg, var(--sky-blue) 0%,var(--sky-purple) 84%,var(--sky-purple) 100%);
    background: linear-gradient(135deg, var(--sky-blue) 0%,var(--sky-purple) 84%,var(--sky-purple) 100%);
    border: 1px dotted whitesmoke;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a90c7', endColorstr='#8f5dda', GradientType=1 );    
    height: 100vh;
    margin: 0;    
    width: 100%;
}

@-webkit-keyframes ray_rotate_animation { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes ray_rotate_animation { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@-webkit-keyframes ray_shrink_animation {
    0%   { opacity: 1; }    
    50%  { opacity: 0.2; width: 150%;} /* To the original width */
    100% { opacity: 1; }
}

@keyframes ray_shrink_animation {
    0%   { opacity: 1; }    
    50%  { opacity: 0.2; width: 150%;} /* To the original width */
    100% { opacity: 1; }
}

#sun {
    background: var(--sun);
    border: 3px dotted white;
    border-radius: 50%;
    box-shadow: 0 0 40px var(--sun);
    height: 45px;    
    left: 100px;
    position: absolute;
    top: 100px;
    width: 45px;
}

#ray-box {
    animation: ray_anim 30s linear infinite;    
    bottom:0;	        
    position: absolute;	
    top:0px;    
    -webkit-animation: ray_rotate_animation 30s linear infinite;    
    width:40px;
}

.ray {
    background: -moz-linear-gradient(-90deg, var(--sun) 10%,white 25%,transparent 100%);
    background: -webkit-gradient(left, right, color-stop(10%, var(--sun)), color-stop(15%,white), color-stop(100%,transparent));
    background: -webkit-linear-gradient(-90deg, var(--sun) 10%,white 15%,transparent 100%);
    background: -o-linear-gradient(-90deg, var(--sun) 10%,white 15%,transparent 100%);
    background: -ms-linear-gradient(-90deg, var(--sun) 10%,white 15%,transparent 100%);
    background: linear-gradient(90deg, var(--sun) 10%,white 15%,transparent 100%);  
    border-radius:0 80% 80% 0;         
    height: 10px;
    left: 50%;
    position: absolute;    
    top: 40%;
    transform-origin: left;
}

#ray1 {    
    animation: ray_shrink_animation 5s linear infinite;          
    transform: rotate(36deg);    
    -webkit-animation: ray_shrink_animation 5s linear infinite;
    -webkit-transform: rotate(36deg);
    width: 70px;
}

#ray2 {    
    animation: ray_shrink_animation 7s linear infinite;              
    transform: rotate(72deg);    
    -webkit-animation: ray_shrink_animation 7s linear infinite;
    -webkit-transform: rotate(72deg);
    width: 110px;
}

#ray3 {    
    animation: ray_shrink_animation 7s linear infinite;              
    transform: rotate(108deg);    
    -webkit-animation: ray_shrink_animation 7s linear infinite;
    -webkit-transform: rotate(108deg);
    width: 80px;
}

#ray4 {    
    animation: ray_shrink_animation 3s linear infinite;              
    transform: rotate(144deg);    
    -webkit-animation: ray_shrink_animation 3s linear infinite;
    -webkit-transform: rotate(144deg);
    width: 50px;
}

#ray5 {    
    animation: ray_shrink_animation 6s linear infinite;              
    transform: rotate(180deg);    
    -webkit-animation: ray_shrink_animation 6s linear infinite;
    -webkit-transform: rotate(180deg);
    width: 90px;
}

#ray6 {    
    animation: ray_shrink_animation 9s linear infinite;              
    transform: rotate(216deg);    
    -webkit-animation: ray_shrink_animation 9s linear infinite;
    -webkit-transform: rotate(216deg);
    width: 60px;
}

#ray7 {    
    animation: ray_shrink_animation 3s linear infinite;              
    transform: rotate(252deg);    
    -webkit-animation: ray_shrink_animation 3s linear infinite;
    -webkit-transform: rotate(252deg);
    width: 70px;
}

#ray8 {    
    animation: ray_shrink_animation 8s linear infinite;              
    transform: rotate(288deg);    
    -webkit-animation: ray_shrink_animation 8s linear infinite;
    -webkit-transform: rotate(288deg);
    width: 120px;
}

#ray9 {    
    animation: ray_shrink_animation 5s linear infinite;              
    transform: rotate(324deg);    
    -webkit-animation: ray_shrink_animation 5s linear infinite;
    -webkit-transform: rotate(324deg);
    width: 60px;
}

#ray10 {    
    animation: ray_shrink_animation 7s linear infinite;              
    transform: rotate(360deg);    
    -webkit-animation: ray_shrink_animation 7s linear infinite;
    -webkit-transform: rotate(360deg);
    width: 80px;
}

#hill1 {
    background: var(--hill-green1);
    border-top-left-radius: 50%;
    border-top-right-radius: 70%;
    top: 60vh;
    height: 50vh;
    left: -5vw;
    position: absolute;
    width: 70vw;
}

#hill2 {
    background: var(--hill-green2);
    border-top-left-radius: 90%;
    border-top-right-radius: 70%;
    top: 40vh;
    height: 200vh;
    left: -10vw;
    position: absolute;
    width: 370vw;
}

#hill3 {
    background: var(--hill-green3);
    border-top-left-radius: 90%;
    border-top-right-radius: 70%;
    top: 60vh;
    height: 100vh;
    left: 40vw;
    position: absolute;
    width: 170vw;
}

.cloud {        
    height: 50px;
    position: absolute;
    width: 100px;     
}

.cloud-part {
    border-radius: 50%;
    background: var(--cloud-upper); 
    height: 30px;
    position: relative;
    width: 30px;
}

.cloud-lower {
    background: var(--cloud-lower);
    background: -moz-linear-gradient(top,var(--cloud-upper),var(--cloud-lower) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%,var(--cloud-upper)), color-stop(100%, var(--cloud-lower)));
    background: -webkit-linear-gradient(top,var(--cloud-upper) 0%,var(--cloud-lower) 100%);
    background: -o-linear-gradient(top,var(--cloud-upper) 0%,var(--cloud-lower) 100%);
    background: -ms-linear-gradient(top,var(--cloud-upper) 0%,var(--cloud-lower) 100%);
    background: linear-gradient(to bottom,var(--cloud-upper) 0%,var(--cloud-lower) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
    height: 20px;
    width: 20px;
}

.cloud-part1 { left: 35px; }

.cloud-part2 { left: 15px; top: -20px; }

.cloud-part3 { left: 55px; top: -50px; }

.cloud-part4 { left: 10px; top: -60px; }

.cloud-part5 { left: 25px; top: -80px; }

.cloud-part6 {       
    left: 40px;
    height: 25px;    
    top: -105px;
    width: 25px;
}

.cloud-part7 { left: 60px; top: -125px; }

.cloud-part8 { left: 75px; top: -145px; }

@-webkit-keyframes cloud-move {
    from { left: -10vw; } to { left: 100vw; }
}

@keyframes cloud-move {
    from { left: -10vw; } to { left: 100vw; }
}

#cloud1 { 
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    animation: cloud-move 90s linear infinite;            
    top: 5px;  
    -webkit-animation: cloud-move 90s linear infinite;   
}

#cloud2 {
    top: 50px; 
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    animation: cloud-move 70s linear infinite;    
    -webkit-animation: cloud-move 70s linear infinite; 
    animation-delay: -15s;            
    -webkit-animation-delay: -15s; 
}

#cloud3 {
    top: 80px; 
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    animation: cloud-move 60s linear infinite;    
    -webkit-animation: cloud-move 60s linear infinite; 
    animation-delay: -30s;            
    -webkit-animation-delay: -30s; 
}

#cloud4 {
    top: 130px; 
    animation: cloud-move 40s linear infinite;    
    -webkit-animation: cloud-move 40s linear infinite; 
    animation-delay: -30s;            
    -webkit-animation-delay: -30s; 
}

#farm-house {     
    bottom: 70px;
    position: absolute;
    right: 50px;
}

#farm-house-walls {   
    background: var(--farm-house-wall);
    background:-webkit-repeating-linear-gradient(90deg, var(--farm-house-wall) 0%, var(--farm-house-wall) 7%, var(--farm-house-stripe) 10%);
    background:-o-repeating-linear-gradient(90deg, var(--farm-house-wall) 0%, var(--farm-house-wall) 7%,  var(--farm-house-stripe) 10%);
    background:-moz-repeating-linear-gradient(90deg, var(--farm-house-wall) 0%, var(--farm-house-wall) 7%,  var(--farm-house-stripe) 10%);
    background:repeating-linear-gradient(90deg, var(--farm-house-wall) 0%, var(--farm-house-wall) 7%,  var(--farm-house-stripe) 10%);
    border: 3px outset #6a6a6a; 
    clip-path: polygon(0% 100%, 0% 30%, 50% 0%, 100% 30%, 100% 100%);   
    height: 240px;
    position: relative;
    width: 205px;
}

#farm-house-roof {    
    border-radius: 5px;
    background: #e7c078;
    clip-path: polygon(0% 100%, 0% 90%, 50% 0%, 100% 90%, 100% 100%, 50% 10%);
    height: 100px;      
    position: absolute;  
    left: -20px;
    bottom: 150px;
    width: 250px;
}

#farm-house-door {
    background: var(--farm-house-door);
    border: 3px var(--farm-house-door-frame) inset;
    border-radius: 5px 5px 0 0;
    bottom: 0px;
    height: 120px;
    left: 100px;
    position: absolute;
    width: 70px;
}

#farm-house-door-handle {
    background: transparent;
    color: var(--farm-house-door-handle);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
    left: 75%;
    position: absolute;
    top: 45%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#farm-house-roof-hole {
    background: var(--farm-house-roof-hole);
    border: 3px inset var(--farm-house-door-frame);
    border-radius: 50%;    
    height: 20px;
    left: 44%;    
    top: 15%;
    position: absolute;
    width: 20px;
}

#farm-house-window {
    background: var(--farm-house-window);
    border: 3px inset var(--farm-house-door-frame);
    border-radius: 5px;    
    bottom: 80px;
    height: 40px;
    left: 10%;        
    position: absolute;
    width: 50px;
}

#farm-house-chimney {
    background: var(--farm-house-wall);
    border: 3px solid #6a6a6a;
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 80% 20%, 80% 100%, 20% 100%, 20% 20%, 0% 20%);
    height: 50px;
    right: 10%;
    top: 0;
    position: absolute;
    width: 40px;
}

@keyframes smoke {
    0% {
        opacity: 1;
        border-top-left-radius: 50%;
    }
    80% {
        transform: translate3d(20px,-70px,70px) rotate(20deg) skew(-20deg); 
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        -o-filter: blur(5px);
        border-radius: 70px 70px 0 0;
        border-top-left-radius: 0%;
        border-top-left-radius: 50%;
    }
    100% {opacity: 0; }
}

@-webkit-keyframes smoke {
    0% {
        opacity: 1;
        border-top-left-radius: 50%;
    }
    80% {
        transform: translate3d(20px,-70px,70px) rotate(20deg) skew(-20deg); 
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        -o-filter: blur(5px);
        border-radius: 70px 70px 0 0;
        border-top-left-radius: 0%;
        border-top-left-radius: 50%;
    }
    100% {opacity: 0; }
}

#farm-house-chimney-smoke-box {    
    height: 50px;
    right: 19%;
    top: 5px;
    position: absolute;
    width: 15px;    
}

.farm-house-chimney-smoke {
    animation: smoke 3.5s infinite ease-out;
    -webkit-animation: smoke 3.5s infinite ease-out;
    background: var(--smoke);
    background:-webkit-repeating-linear-gradient(90deg, transparent 0%, var(--smoke) 50%);
    background:-o-repeating-linear-gradient(90deg, transparent 0%, var(--smoke) 50%);
    background:-moz-repeating-linear-gradient(90deg, transparent 0%, var(--smoke) 50%);
    background:repeating-linear-gradient(90deg, transparent 0%, var(--smoke) 50%);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    height: 100%;
    position: relative;    
    width: 100%;
}

#farm-house-chimney-smoke2 {
    top: -55px;
    animation-delay: 0.5s;
}

#farm-house-chimney-smoke3 {
    top: -105px;
    animation-delay: 1s;
}

#farm-house-chimney-smoke4 {
    top: -155px;
    animation-delay: 1.5s;
}

#farm-house-chimney-smoke5 {
    top: -205px;
    animation-delay: 2.5s;
}

#farm-house-chimney-smoke6 {
    top: -255px;
    animation-delay: 3s;
}

#mill {    
    height: 200px;
    position: absolute;
    right: 220px;
    top: 160px;
    width: 140px;
}

.mill-log { 
    background: var(--mill-log); 
    border: 1px rgba(0,0,0,0.4);
    border-radius: 2px;
    position: absolute;
    width: 9px;
}

.mill-log-lrg { height: 150px; }

#mill-log-lrg1 {
    bottom: 0px;
    left: 30px;
    transform: skew(-23deg);
    -webkit-transform: skew(-23deg);
}

#mill-log-lrg2 {
    bottom: 0px;
    right: 30px;
    transform: skew(23deg);
    -webkit-transform: skew(23deg);
}

#mill-log-lrg3 {
    bottom: 0px;
    right: 47%;
}

.mill-log-sml {
    height: 100px; 
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#mill-log-sml1 { bottom: 20%; left: 45%; }

#mill-log-sml2 { bottom: 28%; left: 45%; }

@keyframes mill-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes mill-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

#mill-fan {    
    height: 140px;
    left: -2px;
    position: absolute;
    top: -25px;
    width: 140px;
    animation: mill-rotate 40s linear infinite;
    -webkit-animation: mill-rotate 40s linear infinite;
}

.mill-fan {
    background: var(--mill-fan);
    clip-path: polygon(8% 0%, 100% 90%, 100% 100%, 0% 100%);
    height: 12px;
    left: 5px;
    position: absolute;
    top: 40%;
    transform-origin: bottom right;
    width: 65px;    
}

#mill-fan2 { transform: rotate(20deg); }

#mill-fan3 { transform: rotate(40deg); }

#mill-fan4 { transform: rotate(60deg); }

#mill-fan5 { transform: rotate(80deg); }

#mill-fan6 { transform: rotate(100deg); }

#mill-fan7 { transform: rotate(120deg); }

#mill-fan8 { transform: rotate(140deg); }

#mill-fan9 { transform: rotate(160deg); }

#mill-fan10 { transform: rotate(180deg); }

#mill-fan11 { transform: rotate(200deg); }

#mill-fan12 { transform: rotate(220deg); }

#mill-fan13 { transform: rotate(240deg); }

#mill-fan14 { transform: rotate(260deg); }

#mill-fan15 { transform: rotate(280deg); }

#mill-fan16 { transform: rotate(300deg); }

#mill-fan17 { transform: rotate(320deg); }

#mill-fan18 { transform: rotate(340deg); }

#mill-center { 
    background: var(--mill-center);    
    border-radius: 50%;
    height: 20px;
    left: 60px;
    position: absolute;
    top: 60px;
    width: 20px;
}

.cow {    
    height: 70px;    
    position: absolute;
    width: 110px;
}

.cow-body {
    background: var(--cow-white);
    border-radius: 20px;
    height: 45px;
    left: 20px;
    position: absolute;
    top: 10px;
    width: 80px;
}

.cow-head {
    background: var(--cow-head);
    border-radius: 15px;
    height: 40px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 35px;
}

.cow-eye {
    background: var(--cow-gray);
    border-radius: 50%;
    height: 4px;
    position: absolute;
    width: 3px;
}

#cow-eye1 {
    left: 8px;
    top: 15px;
}

#cow-eye2 {
    left: 24px;
    top: 15px;
}

.cow-nostril {
    background: var(--cow-gray);
    border-radius: 50%;
    height: 6px;
    position: absolute;
    width: 6px;
}

.cow-nose {
    background: var(--cow-nose);
    border-radius: 40px/20px;
    -moz-border-radius: 40px/20px;
    -webkit-border-radius: 40px/20px;
    height: 20px;
    left: -1px;
    position: absolute;
    top: 23px;
    width: 36px;
}

#cow-nostril1 { left: 6px; top: 7px; }

#cow-nostril2 { left: 24px; top: 7px; }

.cow-ears {   
    height: 15px;
    left: -4px;
    position: absolute;
    top: 5px;
    width: 40px;
}

.cow-ear {
    background: var(--cow-nose);
    height: 15px;
    position: absolute;
    width: 7px;
}

#cow-ear-left { clip-path: polygon(0% 100%, 100% 0%, 100% 50%); }

#cow-ear-right { clip-path: polygon(0% 0%, 100% 100%, 0% 50%); left: 35px; }

.cow-horns {
    height: 15px;    
    left: -4px;
    position: absolute;
    top: -5px;
    width: 40px;
}

.cow-horn {
    background: var(--cow-horn);
    height: 13px;    
    position: absolute;
    width: 7px;
}

#cow-horn-left { clip-path: polygon(0% 0%, 10% 100%, 60% 100%); left: 7px;}

#cow-horn-right { clip-path: polygon(100% 0%, 90% 100%, 40% 100%); left: 28px; }

.cow-legs {   
    bottom: 2px;
    height: 15px;   
    left: 35px;     
    position: absolute;        
    width: 50px;
}

.cow-leg {
    background: var(--cow-white);
    border-bottom: 3px solid #333;
    border-bottom-left-radius: 1px;
    height: inherit;
    position: absolute;
    width: 5px;
}

#cow-leg1 { left: 2px; }

#cow-leg2 { left: 12px; }

#cow-leg3 { left: 37px; }

#cow-leg4 { left: 47px; }

.cow-spot {    
    position: absolute;
}

#cow-spot1 {
    background: var(--cow-gray);
    -webkit-clip-path: ellipse(50% 80% at 50% 20%);
    clip-path: ellipse(50% 80% at 50% 20%);
    height: 10px;
    left: 45px;
    top: 10px;
    position: absolute;
    width: 25px;
}

#cow-spot2 {
    background: var(--cow-gray);
    -webkit-clip-path: ellipse(50% 80% at 50% 20%);
    clip-path: ellipse(50% 80% at 50% 20%);
    height: 7px;
    left: 68px;
    top: 10px;
    position: absolute;
    width: 10px;
}

#cow-spot3 {
    background: var(--cow-gray);
    -webkit-clip-path: ellipse(50% 50% at 50% 50%);
    clip-path: ellipse(50% 50% at 50% 50%);
    height: 10px;
    left: 70px;
    top: 25px;
    position: absolute;
    width: 15px;
}

#cow-spot4 {
    background: var(--cow-gray);
    -webkit-clip-path: ellipse(50% 30% at 50% 50%);
    clip-path: ellipse(50% 30% at 50% 50%);
    height: 12px;
    left: 40px;
    top: 40px;
    position: absolute;
    width: 22px;
}

#cow-spot5 {
    background: var(--cow-gray);
    -webkit-clip-path: ellipse(50% 30% at 50% 50%);
    clip-path: ellipse(50% 30% at 50% 50%);
    height: 15px;
    left: 45px;
    top: 35px;
    position: absolute;
    width: 22px;
}

#cow-tail-part1 {
    background: var(--cow-white);   
    border-top-right-radius: 40px; 
    height: 3px;
    left: 90px;
    top: 15px;
    position: absolute;
    width: 14px;
}

#cow-tail-part2 {
    background: var(--cow-white);   
    border-top-right-radius: 40px; 
    height: 22px;
    left: 101px;
    top: 15px;
    position: absolute;
    width: 3px;
}

#cow-tail-part3 {
    background: var(--cow-gray);  
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%); 
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%); 
    border-radius: 50%;
    height: 10px;
    left: 100px;
    top: 35px;
    position: absolute;
    width: 5px;
}

#cow-tits {
    background: var(--cow-tits);
    -webkit-clip-path: ellipse(50% 70% at 50% 10%);
    clip-path: ellipse(50% 70% at 50% 10%);
    height: 6px;
    left: 67px;
    top: 55px;
    position: absolute;
    width: 12px;
}

#cow1 {
    bottom: 50px;
    left: 250px;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}

#cow2 {
    top: 280px;
    right: 350px;
    transform: rotate(-15deg) scale(0.7);
    -webkit-transform: rotate(-15deg) scale(0.7);    
}

.pine {    
    height: 150px;
    position: absolute;
    width: 80px;    
}

.pine-bright {
    background: var(--pine-bright);
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    height: 110px;
    position: absolute;
    right: 50%;
    width: 40px;
}

.pine-dark {
    background: var(--pine-dark);    
    left: 50%;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    height: 110px;    
    position: absolute;
    width: 40px;
}

.pine-trunk {
    background: var(--pine-trunk);    
    bottom: 0px;    
    height: 70px;    
    left: 35px;
    position: absolute;
    width: 10px;
}

#pine1 {
    left: 50px;
    top: 200px;
}
